@model IVA.Models.tbl_Products
<div class="clear-fix">
    &nbsp;
</div>
<div class="row-fluid">
    <div class="col-md-12">
        <div class="col-md-6">

            @using (Ajax.BeginForm("ImageInsert", "ProductImages", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "dvImageList" }, new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(mod => Model.ID)
                <input type="hidden" id="hdfile" name="hdfile" />
                <div class="thumbnail">
                    <img src='@Url.Content(@"~/Images/noimage.png")' id ="imgPic" style="width:100%;" />
                    <div class="form-group">
                        <input type="file" class="form-control" id="filePic" name="imageFile" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Caption">
                        Caption</label>
                    <input type="text" name="Caption" id="Caption" class="form-control valid" />
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="checkbox" name="IsDefault" id="IsDefault" />
                        <label for="IsDefault" class="inline">
                            Default Image</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Remarks">
                        Remarks</label>
                    <textarea name="Remarks" id="Remarks" class="form-control"></textarea>
                </div> 
                <div class="form-group footer">
                    <button type="button" class="btn btn-success" id="btnimgupload">
                        Save</button>
                </div>
            }
        </div>
        <div class="col-md-6" id="dvImageList">
            @*@{Html.RenderPartial("/Views/ProductImages/_productImageList", Model.tbl_Product_Images.Where(pi => pi.IsActive).OrderBy(pi => pi.IsDefault));}*@
            @{Html.RenderAction("GetProductImageListByProductID", "ProductImages", new { ProductID = Model.ID });            }

        </div>

    </div>
</div>
<div class="clear-fix">
</div>
<div class="col-md-12">
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-info">
            0%
        </div>
    </div>
</div>
<script src="/Scripts/jquery.form.js"></script>
<script type="text/javascript">
    $("#filePic").change(function (e) {
        SetImage(this, $("#imgPic"));
    });

    function SetImage(fileInput, imgCtrl) {

        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                imgCtrl.attr('src', e.target.result);
                //$("#hdfile").val(e.target.result);
            }
            $("#hdfile").val(fileInput.files[0]);
            reader.readAsDataURL(fileInput.files[0]);
        }
    }

    /*(function () {

        var bar = $('.progress-bar');
        var percent = $('.progress-bar');
        var status = $('#status');
        $(".progress").hide();

        $('#form0').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
                $(".progress").show();
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
                if (percentComplete > 90) {
                    percent.removeClass("progress-bar-info").addClass("progress-bar-success");
                }
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                percent.html(xhr.status == 200 ? "Successfully Uploaded" : "Uploading Failed");
                $(".progress").delay(5000).fadeOut();
            }
        });



    });*/

    $(document).ready(function () {
        $("#btnimgupload").click(function (e) {
            var data = new FormData();
            jQuery.each($('#filePic')[0].files, function (i, file) {
                data.append('file-' + i, file);
            });
            var _caption = $("#Caption").val();
            var _IsDefault = $("#IsDefault").is(":checked");
            var _Remarks = $("#Remarks").val();
            var _id = $("#ID").val();
            data.append('Caption', _caption);
            data.append('IsDefault', _IsDefault);
            data.append('Remarks', _Remarks);
            data.append('id', _id);
            $.ajax({
                url: '/ProductImages/ImageInsertx',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    $("#dvImageList").html(data);
                    $("#btnimgupload").parents('form').trigger('reset');
                }
            });

        });
    });
</script>
